h1{
    color: rgb(0, 4, 7);
    text-align: center;
    font-family: Arial, sans-serif;
}
header{
    background-color: lightgray;
    padding: 10px;
}
body{
    margin: 0;
    padding: 0;
    color: red;
}
strong{
    font-weight: bold;
}
footer{
    background-color: lightgray;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
main{
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    text-align: center;
}